/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrap{
  	width: 800px;
  	height: auto;
  	margin-left: auto;
	margin-right: auto;
}

.header{
	
	width: 100%;
	height: 110px; 
	background:linear-gradient(0deg,#DCDCDC,#FFFFFF ,#FFFFFF,#FFFFFF,#FFFFFF);
	
}
.logo{
	float: left;
	width: 400px;
	height: auto;
	
}
.register{
	float: left;
	width: 80px;
	height: auto;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.shop{
	float: left;
	width: 80px;
	height: auto;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.gift{
	float: left;
	width: 80px;
	height: auto;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.sale{
	float: left;
	width: 80px;
	height: auto;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.new{
	float: left;
	width: 80px;
	height: auto;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
.content{
	width: 100%;
	height: 220px;
	margin-bottom: 20px;
	padding-bottom: 30px;
	border-bottom: 1px #DCDCDC solid;
}

.contentL{
	float: left;
	width: 540px;
	height: 100%;
	padding-right: 20px

}
.contentR{
	float: left;
	width: 240px;
	height: 100%;
	position: relative;
	background: url(../image/demo.png) no-repeat;
	background-size: auto;


	
}

.s2{
	position: absolute;
	bottom: 0px;
	padding-left: 30px;
	padding-bottom: 50px
	
	}

.bottom{
	
	width: 100%;
	height: 300px; 
	margin-bottom: 10px

}

.left{
	float: left;
	width: 250px;
	height: 100%;
	background:linear-gradient(0deg,#AFEEEE,#E0FFFF ,#E0FFFF,#FFFFFF,#FFFFFF);
	border-radius: 10px;
}
.s3{

	padding-left: 20px;
	padding-right: 20px;
}

.center{

	float: left;
	width: 250px;
	height: 100%;
	background:linear-gradient(0deg,#AFEEEE,#E0FFFF ,#E0FFFF,#FFFFFF,#FFFFFF);
	margin-left: 20px;
	border-radius: 10px;
}
.right{

	float: left;
	width: 250px;
	height: 100%;
	background:linear-gradient(0deg,#AFEEEE,#E0FFFF ,#E0FFFF,#FFFFFF,#FFFFFF);
	margin-left: 20px;
	border-radius: 10px;
}